body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;
  --font-roboto-mono: "Roboto Mono";
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xl-8: 1.425rem;
  --font-size-lg: 1.125rem;
  --font-size-2xl-5: 1.344rem;
  --font-size-mid: 1.063rem;
  --font-size-lgi: 1.188rem;
  --font-size-7xl: 1.625rem;
  --font-size-3xl-3: 1.394rem;
  --font-size-xl: 1.25rem;
  --font-size-4xl-2: 1.45rem;
  --font-size-11xl: 1.875rem;
  --font-size-5xl: 1.5rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-17xl: 2.25rem;
  --font-size-10xl: 1.813rem;
  --font-size-3xl: 1.375rem;
  --font-size-13xl: 2rem;
  --font-size-xl-2: 1.263rem;
  --font-size-lgi-2: 1.2rem;
  --font-size-mini-3: 0.894rem;
  --font-size-12xl-3: 1.956rem;
  --font-size-6xl: 1.563rem;
  --font-size-2xl: 1.313rem;
  --font-size-lg-7: 1.169rem;
  --font-size-7xl-7: 1.669rem;
  --font-size-31xl-5: 3.156rem;
  --font-size-21xl: 2.5rem;
  --font-size-6xl-3: 1.581rem;
  --font-size-33xl-8: 3.3rem;
  --font-size-23xl: 2.625rem;
  --font-size-10xl-4: 1.838rem;
  --font-size-29xl: 3rem;
  --font-size-19xl: 2.375rem;
  --font-size-5xs: 0.5rem;
  --font-size-45xl: 4rem;
  --font-size-32xl: 3.188rem;
  --font-size-2xl-9: 1.369rem;
  --font-size-sm-7: 0.856rem;
  --font-size-3xs: 0.625rem;

  /* Colors */
  --color-gainsboro-100: #e0e0e6;
  --color-gainsboro-200: #ddd;
  --color-gainsboro-300: #d9d9d9;
  --color-gainsboro-400: rgba(217, 217, 217, 0);
  --color-ghostwhite-100: #faf9ff;
  --color-ghostwhite-200: rgba(250, 249, 255, 0);
  --color-gray-100: #0d1438;
  --color-gray-200: rgba(255, 255, 255, 0);
  --color-gray-300: rgba(255, 255, 255, 0.87);
  --color-darkslateblue-100: #033b86;
  --color-darkslateblue-200: #0b1a45;
  --color-cornflowerblue: #366eba;
  --white: #fff;
  --color-slategray: #666e94;
  --color-midnightblue: #101c58;
  --color-black: #000;
  --color-lightskyblue-100: #aed1ff;
  --color-lightskyblue-200: rgba(174, 209, 255, 0.25);
  --color-lightskyblue-300: rgba(174, 209, 255, 0);
  --color-hotpink-100: #ff5789;

  /* Gaps */
  --gap-4xs: 0.563rem;
  --gap-44xl: 3.938rem;
  --gap-xl: 1.25rem;
  --gap-11xl: 1.875rem;
  --gap-5xl: 1.5rem;
  --gap-12xl: 1.938rem;
  --gap-6xs: 0.438rem;
  --gap-3xs: 0.625rem;
  --gap-12xs: 0.063rem;
  --gap-11xs: 0.125rem;
  --gap-5xs: 0.5rem;
  --gap-21xl-4: 2.525rem;
  --gap-36xl: 3.438rem;
  --gap-133xl: 9.5rem;
  --gap-base: 1rem;
  --gap-45xl: 4rem;
  --gap-421xl: 27.5rem;
  --gap-7xs: 0.375rem;
  --gap-165xl-8: 11.55rem;
  --gap-lgi-2: 1.2rem;
  --gap-57xl-8: 4.8rem;
  --gap-32xl-7: 3.231rem;
  --gap-9xs-1: 0.194rem;
  --gap-2xs-5: 0.656rem;
  --gap-21xl-2: 2.513rem;
  --gap-650xl-3: 41.831rem;
  --gap-2xs-7: 0.669rem;
  --gap-lg-6: 1.163rem;
  --gap-2xs-6: 0.663rem;
  --gap-44xl-7: 3.981rem;
  --gap-xl-9: 1.306rem;
  --gap-11xl-7: 1.919rem;
  --gap-13xl: 2rem;
  --gap-29xl: 3rem;
  --gap-420xl: 27.438rem;
  --gap-135xl: 9.625rem;
  --gap-9xs: 0.25rem;
  --gap-2xl-3: 1.331rem;
  --gap-2xs-1: 0.631rem;
  --gap-16xl: 2.188rem;
  --gap-192xl: 13.188rem;
  --gap-129xl: 9.25rem;
  --gap-3xl: 1.375rem;
  --gap-11xl-5: 1.906rem;
  --gap-516xl: 33.438rem;
  --gap-4xs-5: 0.531rem;
  --gap-2xs-4: 0.65rem;
  --gap-2xs-9: 0.681rem;
  --gap-2xs: 0.688rem;
  --gap-62xl: 5.063rem;
  --gap-136xl: 9.688rem;
  --gap-10xs: 0.188rem;
  --gap-33xl: 3.25rem;
  --gap-15xl-5: 2.156rem;
  --gap-mid: 1.063rem;
  --gap-12xl-5: 1.969rem;
  --gap-5xs-5: 0.469rem;
  --gap-137xl: 9.75rem;
  --gap-sm: 0.875rem;
  --gap-lgi: 1.188rem;
  --gap-21xl: 2.5rem;
  --gap-424xl: 27.688rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-2xl: 1.313rem;
  --padding-3xl-8: 1.425rem;
  --padding-9xs-9: 0.244rem;
  --padding-9xs: 0.25rem;
  --padding-9xl: 1.75rem;
  --padding-24xl: 2.688rem;
  --padding-xs-1: 0.694rem;
  --padding-base-3: 0.956rem;
  --padding-12xs: 0.063rem;
  --padding-84xl: 6.438rem;
  --padding-187xl: 12.875rem;
  --padding-91xl: 6.875rem;
  --padding-36xl: 3.438rem;
  --padding-5xs: 0.5rem;
  --padding-45xl: 4rem;
  --padding-12xl: 1.938rem;
  --padding-13xl: 2rem;
  --padding-3xl: 1.375rem;
  --padding-29xl: 3rem;
  --padding-5xl: 1.5rem;
  --padding-8xs: 0.313rem;
  --padding-lgi: 1.188rem;
  --padding-6xs: 0.438rem;
  --padding-3xs: 0.625rem;
  --padding-71xl: 5.625rem;
  --padding-39xl: 3.625rem;
  --padding-sm: 0.875rem;
  --padding-123xl: 8.875rem;
  --padding-73xl: 5.75rem;
  --padding-20xl: 2.438rem;
  --padding-4xl: 1.438rem;
  --padding-smi: 0.813rem;
  --padding-mid: 1.063rem;
  --padding-base: 1rem;
  --padding-lg: 1.125rem;
  --padding-16xl: 2.188rem;
  --padding-6xl: 1.563rem;
  --padding-30xl: 3.063rem;
  --padding-27xl: 2.875rem;
  --padding-sm-9: 0.869rem;
  --padding-11xs: 0.125rem;
  --padding-xs: 0.75rem;
  --padding-4xl-6: 1.475rem;
  --padding-2xs: 0.688rem;
  --padding-57xl: 4.75rem;
  --padding-54xl: 4.563rem;
  --padding-61xl: 5rem;
  --padding-62xl: 5.063rem;
  --padding-60xl: 4.938rem;
  --padding-56xl: 4.688rem;
  --padding-55xl: 4.625rem;
  --padding-58xl: 4.813rem;
  --padding-10xs: 0.188rem;
  --padding-19xl-4: 2.4rem;
  --padding-9xl-8: 1.8rem;
  --padding-71xl-4: 5.65rem;
  --padding-68xl-6: 5.475rem;
  --padding-0: 0rem;
  --padding-77xl: 6rem;
  --padding-lgi-2: 1.2rem;
  --padding-78xl-4: 6.088rem;
  --padding-78xl: 6.063rem;
  --padding-75xl-6: 5.913rem;
  --padding-76xl: 5.938rem;
  --padding-74xl: 5.813rem;
  --padding-xl-4: 1.275rem;
  --padding-70xl: 5.563rem;
  --padding-45xl-2: 4.013rem;
  --padding-21xl-9: 2.556rem;
  --padding-2xs-4: 0.65rem;
  --padding-11xs-3: 0.081rem;
  --padding-45xl-8: 4.05rem;
  --padding-13xl-1: 2.006rem;
  --padding-10xs-6: 0.163rem;
  --padding-6xs-6: 0.413rem;
  --padding-2xs-7: 0.669rem;
  --padding-3xs-4: 0.588rem;
  --padding-7xs-3: 0.331rem;
  --padding-21xl-6: 2.538rem;
  --padding-50xl: 4.313rem;
  --padding-15xl: 2.125rem;
  --padding-22xl-7: 2.606rem;
  --padding-35xl: 3.375rem;
  --padding-21xl: 2.5rem;
  --padding-4xs: 0.563rem;
  --padding-69xl-8: 5.55rem;
  --padding-73xl-8: 5.8rem;
  --padding-71xl-2: 5.638rem;
  --padding-70xl-2: 5.575rem;
  --padding-8xl-3: 1.706rem;
  --padding-8xl-4: 1.713rem;
  --padding-sm-6: 0.85rem;
  --padding-xs-3: 0.706rem;
  --padding-8xs-1: 0.256rem;
  --padding-7xs-5: 0.344rem;
  --padding-8xs-2: 0.263rem;
  --padding-194xl: 13.313rem;
  --padding-287xl: 19.125rem;
  --padding-12xs-4: 0.025rem;
  --padding-base-9: 0.994rem;
  --padding-base-1: 1.006rem;
  --padding-3xs-1: 0.569rem;
  --padding-7xs-4: 0.338rem;
  --padding-4xs-1: 0.506rem;
  --padding-10xs-5: 0.156rem;
  --padding-7xl: 1.625rem;
  --padding-5xl-6: 1.538rem;
  --padding-12xs-5: 0.031rem;
  --padding-base-2: 1.013rem;
  --padding-37xl: 3.5rem;
  --padding-117xl: 8.5rem;
  --padding-12xs-9: 0.056rem;
  --padding-5xl-7: 1.544rem;
  --padding-base-5: 1.031rem;
  --padding-12xs-1: 0.006rem;
  --padding-9xs-5: 0.219rem;
  --padding-12xs-3: 0.019rem;
  --padding-4xs-7: 0.544rem;
  --padding-293xl: 19.5rem;
  --padding-28xl: 2.938rem;
  --padding-43xl: 3.875rem;
  --padding-11xl: 1.875rem;
  --padding-6xl-9: 1.619rem;
  --padding-7xs: 0.375rem;
  --padding-59xl: 4.875rem;
  --padding-9xs-2: 0.2rem;
  --padding-9xs-8: 0.238rem;
  --padding-mini: 0.938rem;
  --padding-2xl-7: 1.356rem;
  --padding-2xl-8: 1.363rem;
  --padding-2xl-4: 1.338rem;
  --padding-lgi-3: 1.206rem;
  --padding-xl-9: 1.306rem;
  --padding-2xl-2: 1.325rem;
  --padding-xl-8: 1.3rem;
  --padding-xl-1: 1.256rem;
  --padding-lg-7: 1.169rem;
  --padding-87xl: 6.625rem;
  --padding-18xl-5: 2.344rem;
  --padding-52xl: 4.438rem;
  --padding-66xl: 5.313rem;
  --padding-8xs-5: 0.281rem;
  --padding-17xl: 2.25rem;
  --padding-40xl: 3.688rem;
  --padding-46xl: 4.063rem;

  /* Border radiuses */
  --br-7xl-9: 26.9px;
  --br-sm-4: 13.4px;
  --br-36xl-7: 55.7px;
  --br-8xl-8: 27.8px;
  --br-sm-9: 13.9px;
  --br-8xl-4: 27.4px;
  --br-31xl: 50px;
  --br-7xs: 6px;
  --br-3xs: 10px;
  --br-31xl-5: 50.5px;
  --br-6xl-3: 25.3px;
  --br-smi-6: 12.6px;
  --br-11xs: 2px;
  --br-base: 16px;
  --br-lgi-2: 19.2px;
  --br-12xl-3: 31.3px;
  --br-10xs-7: 2.7px;
  --br-25xl-3: 44.3px;
  --br-11xl-3: 30.3px;
  --br-8xs: 5px;
  --br-xl: 20px;
  --br-21xl: 40px;
  --br-12xs: 1px;
  --br-lg: 18px;
}
