.frame-child12 {
  height: 6.125rem;
  width: 90rem;
  position: relative;
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.notification-icon {
  width: 2.125rem;
  height: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.side-menu {
  height: 2.313rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.rectangle-copy-7 {
  height: 2.563rem;
  width: 18.563rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  display: none;
}
.placeholder {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.project-thumbnail {
  width: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-9xs);
  box-sizing: border-box;
}
.search-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.projects-list {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-5xs);
  gap: var(--gap-5xs);
  z-index: 1;
}
.frame-wrapper6,
.side-menu-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.side-menu-parent {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: var(--gap-base);
}
.frame-wrapper6 {
  height: 2.813rem;
  width: 21.625rem;
  flex-direction: column;
  padding: var(--padding-8xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  max-width: 100%;
}
.div32,
.mostafakaramgmailcom {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.div32 {
  width: 7rem;
  height: 1.125rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mostafakaramgmailcom {
  align-self: stretch;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
}
.frame-wrapper7,
.parent6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent6 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-7xs);
}
.frame-wrapper7 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-0) var(--padding-0);
}
.side-menu-component {
  height: 3.125rem;
  width: 3.125rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.frame-header,
.frame-parent20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent20 {
  align-self: stretch;
  width: 15.375rem;
  gap: var(--gap-base);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto-mono);
}
.frame-header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  height: 6.125rem;
  padding: var(--padding-5xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-421xl);
  z-index: 99;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
  font-family: var(--font-montserrat);
}
.side-menu-child {
  align-self: stretch;
  height: 56.25rem;
  position: relative;
  background: linear-gradient(185.14deg, #033b86, #0d1438);
  display: none;
}
.logo-arabic-22 {
  height: 2.5rem;
  width: 7.281rem;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.logo-arabic-2-frame {
  align-self: stretch;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl);
  box-sizing: border-box;
}
.div33 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.overview-icon {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent7 {
  width: 7.625rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper8 {
  align-self: stretch;
  flex: 0.9167;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-55xl);
  cursor: pointer;
}
.div34 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.overview-icon1 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent8 {
  width: 5.688rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper9 {
  align-self: stretch;
  flex: 0.9167;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-56xl);
  cursor: pointer;
}
.div35 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.iconlylight-outlinedocument {
  height: 2.25rem;
  width: 2.25rem;
  position: relative;
  object-fit: cover;
}
.parent9 {
  width: 6.063rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper10 {
  align-self: stretch;
  flex: 0.9444;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-56xl) var(--padding-lgi);
  cursor: pointer;
  color: var(--white);
}
.div36 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.iconlytwo-tonepaper {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
}
.parent10 {
  width: 5.438rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper11 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-58xl);
  cursor: pointer;
}
.div37 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
  min-width: 5rem;
}
.customers-icon {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper12,
.parent11 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.parent11 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper12 {
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-56xl) var(--padding-base)
    var(--padding-55xl);
  opacity: 0.84;
  cursor: pointer;
}
.div38 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.sales-icon {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent12 {
  width: 5.875rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper13 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-60xl);
  cursor: pointer;
}
.div39 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.settings-icon {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent13 {
  width: 6.313rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper14 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-62xl);
  cursor: pointer;
}
.frame-child13 {
  width: 0.25rem;
  height: 4.5rem;
  position: absolute;
  margin: 0 !important;
  top: 9rem;
  right: 0;
  border-radius: var(--br-base) 0 0 var(--br-base);
  background-color: var(--white);
  z-index: 2;
}
.frame-parent21,
.frame-parent22 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent22 {
  align-items: flex-start;
  position: relative;
  z-index: 1;
}
.frame-parent21 {
  align-items: flex-end;
  gap: var(--gap-45xl);
}
.div40 {
  height: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  text-align: right;
  display: inline-block;
}
.iconlytwo-tonesetting {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
}
.logout-menu-item {
  width: 6.25rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.menu-item {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-61xl);
  background-color: var(--color-gainsboro-400);
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
}
.div41 {
  height: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  text-align: right;
  display: inline-block;
}
.logout-icon {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent14 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.menu-item-parent,
.menu-item1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-item1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-57xl) var(--padding-3xs)
    var(--padding-54xl);
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  box-sizing: border-box;
}
.menu-item-parent {
  z-index: 1;
}
.h1,
.side-menu1 {
  position: absolute;
  display: flex;
}
.side-menu1 {
  top: 0;
  left: 72.5rem;
  background: linear-gradient(185.14deg, #033b86, #0d1438);
  width: 17.5rem;
  height: 56.25rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-0) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-133xl);
  z-index: 1;
}
.h1 {
  margin: 0;
  top: 7.375rem;
  left: 60.813rem;
  font-size: var(--font-size-17xl);
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-gray-100);
  align-items: center;
  width: 7.688rem;
  height: 2.688rem;
}
.rectangle-copy-71 {
  height: 2.563rem;
  width: 53.563rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.placeholder1 {
  width: 15.713rem;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 1.063rem;
  position: relative;
  color: var(--color-slategray);
  text-align: right;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.input3 {
  position: absolute;
  height: 4.56%;
  width: 59.51%;
  top: 20.11%;
  right: 23.82%;
  bottom: 75.33%;
  left: 16.67%;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) 1.475rem var(--padding-2xs);
  max-width: 100%;
}
.paper-plus-icon {
  position: absolute;
  top: 11.813rem;
  left: 13.013rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.iconlytwo-tonedelete {
  position: absolute;
  height: 2.06%;
  width: 1.18%;
  top: 21.31%;
  right: 86.32%;
  bottom: 76.63%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.b12,
.div42,
.sd-store {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b12 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div42,
.sd-store {
  align-self: stretch;
}
.sd-store {
  padding-left: var(--padding-lg);
}
.div42 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.sd-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper15,
.parent15 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent15 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper15 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child14 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent23 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 3.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b13,
.div43,
.mw-store1 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b13 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div43,
.mw-store1 {
  align-self: stretch;
}
.mw-store1 {
  padding-left: var(--padding-lg);
}
.div43 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.mw-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper18 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper17,
.parent16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent16 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper17 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child15 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent24 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 24.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b14,
.bb-store,
.div44 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b14 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.bb-store,
.div44 {
  align-self: stretch;
}
.bb-store {
  padding-left: var(--padding-lg);
}
.div44 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.bb-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper20 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper19,
.parent17 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent17 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper19 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child16 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent25 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 45.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b15,
.div45,
.sm-store {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b15 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div45,
.sm-store {
  align-self: stretch;
}
.sm-store {
  padding-left: var(--padding-lg);
}
.div45 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.sm-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper22 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper21,
.parent18 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent18 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper21 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child17 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent26 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 7.438rem;
  left: 2.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b16 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.b16,
.div46,
.moon-store {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.moon-store {
  min-width: 6.313rem;
  white-space: nowrap;
}
.div46 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-11xs);
}
.moon-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper23,
.parent19 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent19 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper23 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child18 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent27 {
  height: 4rem;
  width: 11.875rem;
  margin: 0 !important;
  position: absolute;
  top: 7.438rem;
  left: 23.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b17 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.b17,
.blend-store,
.div47 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.blend-store {
  min-width: 6.938rem;
  white-space: nowrap;
}
.div47 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xs);
}
.blend-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper26 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper25,
.parent20 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent20 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper25 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child19 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent28 {
  height: 4rem;
  width: 12.5rem;
  margin: 0 !important;
  position: absolute;
  top: 7.438rem;
  left: 44.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b18,
.bd-store,
.div48 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b18 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.bd-store,
.div48 {
  align-self: stretch;
}
.bd-store {
  padding-left: var(--padding-lg);
}
.div48 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.bd-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper28 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper27,
.parent21 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent21 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper27 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child20 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent29 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 14.875rem;
  left: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b19,
.div49,
.speed-app1 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b19 {
  width: 3.438rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div49,
.speed-app1 {
  align-self: stretch;
}
.speed-app1 {
  min-width: 6.188rem;
  box-sizing: border-box;
  padding-left: var(--padding-5xs);
}
.div49 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.speed-app-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper30 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper29,
.parent22 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent22 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper29 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child21 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
  cursor: pointer;
}
.frame-parent30 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 14.875rem;
  left: 23.625rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b20 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.b20,
.div50,
.slave-store {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.slave-store {
  min-width: 6.938rem;
  white-space: nowrap;
}
.div50 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xs);
}
.slave-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper32 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper31,
.parent23 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent23 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper31 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child22 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent31 {
  height: 4rem;
  width: 12.5rem;
  margin: 0 !important;
  position: absolute;
  top: 14.875rem;
  left: 44.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b21,
.div51,
.nr-store {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b21 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div51,
.nr-store {
  align-self: stretch;
}
.nr-store {
  padding-left: var(--padding-lg);
}
.div51 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.nr-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper34 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper33,
.parent24 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent24 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper33 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child23 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent32 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 22.313rem;
  left: 1.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.abc-store,
.b22,
.div52 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b22 {
  width: 3.438rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.abc-store,
.div52 {
  align-self: stretch;
}
.abc-store {
  min-width: 6.188rem;
  box-sizing: border-box;
  padding-left: var(--padding-5xs);
}
.div52 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.abc-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper36 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper35,
.parent25 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent25 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper35 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child24 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent33 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 22.313rem;
  left: 23rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b23 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.b23,
.beauty-store,
.div53 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.beauty-store {
  min-width: 7.563rem;
  white-space: nowrap;
}
.div53 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-3xl);
}
.beauty-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper38 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper37,
.parent26 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent26 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper37 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child25 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent34 {
  height: 4rem;
  width: 13.125rem;
  margin: 0 !important;
  position: absolute;
  top: 22.313rem;
  left: 44.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b24,
.div54,
.ss-store {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b24 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div54,
.ss-store {
  align-self: stretch;
}
.ss-store {
  padding-left: var(--padding-lg);
}
.div54 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.ss-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper40 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper39,
.parent27 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent27 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper39 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child26 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent35 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 29.75rem;
  left: 3.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b25,
.div55,
.x-store {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b25 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div55,
.x-store {
  align-self: stretch;
}
.x-store {
  padding-left: var(--padding-9xl);
}
.div55 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.x-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper42 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper41,
.parent28 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent28 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper41 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child27 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent36 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 29.75rem;
  left: 24.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b26,
.div56,
.lv-store {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b26 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div56,
.lv-store {
  align-self: stretch;
}
.lv-store {
  padding-left: var(--padding-lg);
}
.div56 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.lv-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper44 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper43,
.parent29 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent29 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.frame-wrapper43 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child28 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.frame-parent37 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 29.75rem;
  left: 45.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b27,
.div57,
.km-store {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b27 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.div57,
.km-store {
  align-self: stretch;
}
.km-store {
  height: 1.313rem;
  box-sizing: border-box;
  padding-left: var(--padding-lg);
}
.div57 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.km-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-wrapper46 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper45,
.parent30 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent30 {
  align-self: stretch;
  height: 2.063rem;
  align-items: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.frame-wrapper45 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child29 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.frame-parent38 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 37.188rem;
  left: 24.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b28,
.div58,
.loom-store {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b28 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.div58,
.loom-store {
  align-self: stretch;
}
.loom-store {
  height: 1.313rem;
  white-space: nowrap;
}
.div58 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-11xs);
}
.loom-store-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-wrapper48 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.frame-wrapper47,
.parent31 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent31 {
  align-self: stretch;
  height: 2.063rem;
  align-items: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.frame-wrapper47 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.frame-child30 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.frame-parent39 {
  height: 4rem;
  width: 11.875rem;
  margin: 0 !important;
  position: absolute;
  top: 37.188rem;
  left: 45.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-section,
.projects-delete-4 {
  text-align: right;
  font-size: var(--font-size-base);
}
.frame-section {
  position: absolute;
  top: 16.938rem;
  left: 11.25rem;
  width: 57.25rem;
  height: 35.313rem;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 3.438rem 9.375rem;
  color: var(--color-black);
  font-family: var(--font-roboto-mono);
}
.projects-delete-4 {
  width: 100%;
  height: 56.25rem;
  position: relative;
  background-color: var(--color-ghostwhite-100);
  overflow: hidden;
  letter-spacing: normal;
  color: var(--color-slategray);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1125px) {
  .frame-header {
    gap: 27.5rem 13.75rem;
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .h1 {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 750px) {
  .frame-header {
    gap: 27.5rem 6.875rem;
  }
}
@media screen and (max-width: 450px) {
  .frame-header {
    gap: 27.5rem 3.438rem;
  }
  .h1 {
    font-size: var(--font-size-3xl);
  }
}
