.frame-child438 {
  height: 6.125rem;
  width: 90rem;
  position: relative;
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.notification-icon21 {
  width: 2.125rem;
  height: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.notification-wrapper7 {
  height: 2.313rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.rectangle-copy-732 {
  height: 2.563rem;
  width: 18.563rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  display: none;
}
.placeholder39 {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.placeholder-wrapper12 {
  width: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-9xs);
  box-sizing: border-box;
}
.search-icon24 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.side-bar {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-5xs);
  gap: var(--gap-5xs);
  z-index: 1;
}
.f-r-a-m-e1,
.frame-parent456 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent456 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: var(--gap-base);
}
.f-r-a-m-e1 {
  height: 2.813rem;
  width: 21.625rem;
  flex-direction: column;
  padding: var(--padding-8xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  max-width: 100%;
}
.div759,
.mostafakaramgmailcom21 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.div759 {
  width: 7rem;
  height: 1.125rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mostafakaramgmailcom21 {
  align-self: stretch;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
}
.arabic-logo-wrapper,
.arabic-logo2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.arabic-logo2 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-7xs);
}
.arabic-logo-wrapper {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-0) var(--padding-0);
}
.frame-child439 {
  height: 3.125rem;
  width: 3.125rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.frame-parent457,
.rectangle-parent250 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent457 {
  align-self: stretch;
  width: 15.375rem;
  gap: var(--gap-base);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto-mono);
}
.rectangle-parent250 {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  height: 6.125rem;
  padding: var(--padding-5xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-421xl);
  z-index: 99;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
  font-family: var(--font-montserrat);
}
.side-menu-child19 {
  align-self: stretch;
  height: 56.25rem;
  position: relative;
  background: linear-gradient(185.14deg, #033b86, #0d1438);
  display: none;
}
.logo-arabic-220 {
  height: 2.5rem;
  width: 7.281rem;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.logo-arabic-2-wrapper14 {
  align-self: stretch;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl);
  box-sizing: border-box;
}
.div760 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.overview-icon45 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.projects-tab {
  width: 7.625rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.customers-tab2 {
  align-self: stretch;
  flex: 0.9167;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-55xl);
  cursor: pointer;
}
.div761 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.overview-icon46 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent333 {
  width: 5.688rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.customers-tab3 {
  align-self: stretch;
  flex: 0.9167;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-56xl);
  cursor: pointer;
}
.div762 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.iconlylight-outlinedocument24 {
  height: 2.25rem;
  width: 2.25rem;
  position: relative;
  object-fit: cover;
}
.parent334 {
  width: 6.063rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.customers-tab4 {
  align-self: stretch;
  flex: 0.9444;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-56xl) var(--padding-lgi);
  cursor: pointer;
  color: var(--white);
}
.div763 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.iconlytwo-tonepaper25 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
}
.parent335 {
  width: 5.438rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.customers-tab5 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-58xl);
  cursor: pointer;
}
.div764 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
  min-width: 5rem;
}
.customers-icon24 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.customers-tab6,
.parent336 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.parent336 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.customers-tab6 {
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-56xl) var(--padding-base)
    var(--padding-55xl);
  opacity: 0.84;
  cursor: pointer;
}
.div765 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.sales-icon24 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent337 {
  width: 5.875rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.customers-tab7 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-60xl);
  cursor: pointer;
}
.div766 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.settings-icon23 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent338 {
  width: 6.313rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.customers-tab8 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-62xl);
  cursor: pointer;
}
.overview-tab-child {
  width: 0.25rem;
  height: 4.5rem;
  position: absolute;
  margin: 0 !important;
  top: 9rem;
  right: 0;
  border-radius: var(--br-base) 0 0 var(--br-base);
  background-color: var(--white);
  z-index: 2;
}
.frame-parent458,
.overview-tab {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.overview-tab {
  align-items: flex-start;
  position: relative;
  z-index: 1;
}
.frame-parent458 {
  align-items: flex-end;
  gap: var(--gap-45xl);
}
.div767 {
  height: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  text-align: right;
  display: inline-block;
}
.iconlytwo-tonesetting21 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
}
.b-d-store {
  width: 6.25rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.menu-item42 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-61xl);
  background-color: var(--color-gainsboro-400);
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
}
.div768 {
  height: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  text-align: right;
  display: inline-block;
}
.logout-icon22 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent339 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.menu-item-logout,
.menu-item43 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-item43 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-57xl) var(--padding-3xs)
    var(--padding-54xl);
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  box-sizing: border-box;
}
.menu-item-logout {
  z-index: 1;
}
.h127,
.side-menu38 {
  position: absolute;
  display: flex;
}
.side-menu38 {
  top: 0;
  left: 72.5rem;
  background: linear-gradient(185.14deg, #033b86, #0d1438);
  width: 17.5rem;
  height: 56.25rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-0) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-133xl);
  z-index: 1;
  color: var(--color-slategray);
}
.h127 {
  margin: 0;
  top: 7.375rem;
  left: 60.813rem;
  font-size: var(--font-size-17xl);
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
  align-items: center;
  width: 7.688rem;
  height: 2.688rem;
}
.rectangle-copy-733 {
  height: 2.563rem;
  width: 53.563rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.placeholder40 {
  width: 15.713rem;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 1.063rem;
  position: relative;
  color: var(--color-slategray);
  text-align: right;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.input23 {
  position: absolute;
  height: 4.56%;
  width: 59.51%;
  top: 20.11%;
  right: 23.82%;
  bottom: 75.33%;
  left: 16.67%;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) 1.475rem var(--padding-2xs);
  max-width: 100%;
}
.paper-plus-icon46 {
  position: absolute;
  top: 11.813rem;
  left: 13.019rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.iconlytwo-tonedelete9 {
  position: absolute;
  height: 2.06%;
  width: 1.18%;
  top: 21.31%;
  right: 86.32%;
  bottom: 76.63%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.base3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-gray-200);
  opacity: 0.56;
}
.beauty-store-child {
  height: 1.5rem;
  width: 10rem;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-ghostwhite-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
}
.b347 {
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
  z-index: 1;
}
.beauty-store-item,
.beauty-store9 {
  width: 10rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-ghostwhite-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.beauty-store9 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-43xl);
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.beauty-store-item {
  height: 1.5rem;
  position: relative;
  display: none;
}
.b348 {
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
  z-index: 1;
}
.beauty-store-inner,
.beauty-store10 {
  width: 10rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-ghostwhite-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.beauty-store10 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-4xl);
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.beauty-store-inner {
  height: 1.5rem;
  position: relative;
  display: none;
}
.b349 {
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
  z-index: 1;
}
.beauty-store11,
.edit-bar3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.beauty-store11 {
  width: 10rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-ghostwhite-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  padding: var(--padding-11xs) var(--padding-27xl) var(--padding-11xs)
    var(--padding-28xl);
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}
.edit-bar3 {
  position: absolute;
  top: 14.313rem;
  left: 15.125rem;
  overflow-x: auto;
  padding: var(--padding-5xs) var(--padding-0) var(--padding-5xs)
    var(--padding-293xl);
  gap: var(--gap-13xl);
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto-mono);
}
.bd-store8,
.div769,
.n-r-store {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.n-r-store {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.bd-store8,
.div769 {
  align-self: stretch;
}
.bd-store8 {
  padding-left: var(--padding-lg);
}
.div769 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.bd-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper391 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.n-r-store-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child440 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.frame-wrapper392 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon36 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent459,
.k-m-store {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent459 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.k-m-store {
  height: 4.563rem;
  width: 12.875rem;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 6.375rem;
  align-items: flex-end;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-3xl);
}
.b350,
.div770,
.mw-store9 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b350 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div770,
.mw-store9 {
  align-self: stretch;
}
.mw-store9 {
  padding-left: var(--padding-lg);
}
.div770 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.mw-store-parent6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper393 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-child,
.parent340 {
  display: flex;
  flex-direction: column;
}
.parent340 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-child {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child441 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.frame-wrapper394 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon37 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent460 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.b351,
.k-m-store1 {
  box-sizing: border-box;
}
.k-m-store1 {
  height: 4.563rem;
  width: 13rem;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 28.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  gap: var(--gap-5xl);
}
.b351 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  padding-left: var(--padding-xl);
}
.b351,
.div771,
.drive-store8 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.drive-store8 {
  min-width: 6.938rem;
  white-space: nowrap;
}
.div771 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xs);
}
.drive-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper395 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner1,
.parent341 {
  display: flex;
  flex-direction: column;
}
.parent341 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner1 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child442 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  cursor: pointer;
}
.frame-wrapper396 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon38 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent461,
.k-m-store2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent461 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.k-m-store2 {
  height: 4.563rem;
  width: 13.75rem;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 50.75rem;
  align-items: flex-end;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.b352,
.bb-store8,
.div772 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b352 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.bb-store8,
.div772 {
  align-self: stretch;
}
.bb-store8 {
  padding-left: var(--padding-lg);
}
.div772 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.bb-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper397 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner2,
.parent342 {
  display: flex;
  flex-direction: column;
}
.parent342 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner2 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child443 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.rectangle-wrapper21 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon39 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent462,
.k-m-store3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent462 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.k-m-store3 {
  height: 4.563rem;
  width: 13rem;
  margin: 0 !important;
  position: absolute;
  top: 8rem;
  left: 6.875rem;
  align-items: flex-end;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.b353,
.div773,
.sm-store8 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b353 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div773,
.sm-store8 {
  align-self: stretch;
}
.sm-store8 {
  padding-left: var(--padding-lg);
}
.div773 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.sm-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper398 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner3,
.parent343 {
  display: flex;
  flex-direction: column;
}
.parent343 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner3 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child444 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.rectangle-wrapper22 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon40 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent463 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.b354,
.k-m-store4 {
  box-sizing: border-box;
}
.k-m-store4 {
  height: 4.563rem;
  width: 13rem;
  margin: 0 !important;
  position: absolute;
  top: 8rem;
  left: 29.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  gap: var(--gap-5xl);
}
.b354 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  padding-left: var(--padding-xl);
}
.b354,
.div774,
.moon-store9 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.moon-store9 {
  min-width: 6.313rem;
  white-space: nowrap;
}
.div774 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-11xs);
}
.moon-store-parent6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper399 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner4,
.parent344 {
  display: flex;
  flex-direction: column;
}
.parent344 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner4 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child445 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.frame-wrapper400 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon41 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent464 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.b355,
.k-m-store5 {
  box-sizing: border-box;
}
.k-m-store5 {
  height: 4.563rem;
  width: 13.125rem;
  margin: 0 !important;
  position: absolute;
  top: 8rem;
  left: 51.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  gap: var(--gap-5xl);
}
.b355 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  padding-left: var(--padding-xl);
}
.b355,
.blend-store8,
.div775 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.blend-store8 {
  min-width: 6.938rem;
  white-space: nowrap;
}
.div775 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xs);
}
.blend-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper401 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner5,
.parent345 {
  display: flex;
  flex-direction: column;
}
.parent345 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner5 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child446 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.rectangle-wrapper23 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon42 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent465,
.k-m-store6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent465 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.k-m-store6 {
  height: 4.563rem;
  width: 13.625rem;
  margin: 0 !important;
  position: absolute;
  top: 16rem;
  left: 5.625rem;
  align-items: flex-end;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-3xl);
}
.b356,
.div776,
.speed-app10 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b356 {
  width: 3.438rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div776,
.speed-app10 {
  align-self: stretch;
}
.speed-app10 {
  min-width: 6.188rem;
  box-sizing: border-box;
  padding-left: var(--padding-5xs);
}
.div776 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.speed-app-parent6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper402 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner6,
.parent346 {
  display: flex;
  flex-direction: column;
}
.parent346 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner6 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child447 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  cursor: pointer;
}
.frame-wrapper403 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon43 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent466 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.b357,
.k-m-store7 {
  box-sizing: border-box;
}
.k-m-store7 {
  height: 4.563rem;
  width: 13rem;
  margin: 0 !important;
  position: absolute;
  top: 16rem;
  left: 28.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  gap: var(--gap-5xl);
}
.b357 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  padding-left: var(--padding-xl);
}
.b357,
.div777,
.slave-store25 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.slave-store25 {
  min-width: 6.938rem;
  white-space: nowrap;
}
.div777 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xs);
}
.slave-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper404 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner7,
.parent347 {
  display: flex;
  flex-direction: column;
}
.parent347 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner7 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child448 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.frame-wrapper405 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon44 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent467 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.b358,
.k-m-store8 {
  box-sizing: border-box;
}
.k-m-store8 {
  height: 4.563rem;
  width: 13.75rem;
  margin: 0 !important;
  position: absolute;
  top: 16rem;
  left: 50.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  gap: var(--gap-5xl);
}
.b358 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  padding-left: var(--padding-xl);
}
.b358,
.beauty-store12,
.div778 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.beauty-store12 {
  min-width: 7.563rem;
  white-space: nowrap;
}
.div778 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-3xl);
}
.beauty-store-parent7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper406 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner8,
.parent348 {
  display: flex;
  flex-direction: column;
}
.parent348 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner8 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child449 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.frame-wrapper407 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon45 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent468,
.k-m-store9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent468 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.k-m-store9 {
  height: 4.563rem;
  width: 14.375rem;
  margin: 0 !important;
  position: absolute;
  top: 24rem;
  left: 5.625rem;
  align-items: flex-end;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.b359,
.div779,
.ss-store8 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b359 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div779,
.ss-store8 {
  align-self: stretch;
}
.ss-store8 {
  padding-left: var(--padding-lg);
}
.div779 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.ss-store-parent6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper408 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner9,
.parent349 {
  display: flex;
  flex-direction: column;
}
.parent349 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner9 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child450 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.frame-wrapper409 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon46 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent469,
.k-m-store10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent469 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.k-m-store10 {
  height: 4.563rem;
  width: 13rem;
  margin: 0 !important;
  position: absolute;
  top: 24rem;
  left: 29.25rem;
  align-items: flex-end;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.b360,
.div780,
.x-store9 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b360 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div780,
.x-store9 {
  align-self: stretch;
}
.x-store9 {
  padding-left: var(--padding-9xl);
}
.div780 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.x-store-parent6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper410 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner10,
.parent350 {
  display: flex;
  flex-direction: column;
}
.parent350 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner10 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child451 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.frame-wrapper411 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon47 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent470,
.k-m-store11 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent470 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.k-m-store11 {
  height: 4.563rem;
  width: 13rem;
  margin: 0 !important;
  position: absolute;
  top: 24rem;
  left: 51.5rem;
  align-items: flex-end;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.b361,
.div781,
.lv-store8 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b361 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div781,
.lv-store8 {
  align-self: stretch;
}
.lv-store8 {
  padding-left: var(--padding-lg);
}
.div781 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.lv-store-parent6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper412 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner11,
.parent351 {
  display: flex;
  flex-direction: column;
}
.parent351 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner11 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child452 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.rectangle-wrapper24 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon48 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent471,
.k-m-store12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent471 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.k-m-store12 {
  height: 4.563rem;
  width: 13.75rem;
  margin: 0 !important;
  position: absolute;
  top: 32rem;
  left: 6.125rem;
  align-items: flex-end;
  padding: 0.019rem var(--padding-xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.b362,
.div782,
.km-store8 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b362 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div782,
.km-store8 {
  align-self: stretch;
}
.km-store8 {
  padding-left: var(--padding-lg);
}
.div782 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.km-store-parent6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper413 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner12,
.parent352 {
  display: flex;
  flex-direction: column;
}
.parent352 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner12 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child453 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.rectangle-wrapper25 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon49 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent472 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.b363,
.k-m-store13 {
  box-sizing: border-box;
}
.k-m-store13 {
  height: 4.563rem;
  width: 13rem;
  margin: 0 !important;
  position: absolute;
  top: 32rem;
  left: 29.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  gap: var(--gap-5xl);
}
.b363 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  padding-left: var(--padding-xl);
}
.b363,
.div783,
.loom-store7 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.loom-store7 {
  height: 1.313rem;
  min-width: 6.313rem;
  white-space: nowrap;
}
.div783 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-11xs);
}
.loom-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper414 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner13,
.parent353 {
  display: flex;
  flex-direction: column;
}
.parent353 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner13 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child454 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.frame-wrapper415 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon50 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
}
.frame-parent473,
.k-m-store14 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent473 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.k-m-store14 {
  height: 4.563rem;
  width: 13.125rem;
  margin: 0 !important;
  position: absolute;
  top: 32rem;
  left: 51.375rem;
  align-items: flex-end;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.b364,
.div784,
.sd-store8 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b364 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div784,
.sd-store8 {
  align-self: stretch;
}
.sd-store8 {
  height: 1.313rem;
  box-sizing: border-box;
  padding-left: var(--padding-lg);
}
.div784 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.sd-store-parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper416 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner14,
.parent354 {
  display: flex;
  flex-direction: column;
}
.parent354 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner14 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child455 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.frame-wrapper417 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon51 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
  cursor: pointer;
}
.frame-parent474,
.k-m-store15 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent474 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.k-m-store15 {
  height: 4.563rem;
  width: 13rem;
  margin: 0 !important;
  position: absolute;
  top: 40rem;
  left: 7rem;
  align-items: flex-end;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.b365,
.div785,
.nr-store8 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b365 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div785,
.nr-store8 {
  align-self: stretch;
}
.nr-store8 {
  height: 1.313rem;
  box-sizing: border-box;
  padding-left: var(--padding-lg);
}
.div785 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.nr-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper418 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner15,
.parent355 {
  display: flex;
  flex-direction: column;
}
.parent355 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner15 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child456 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.rectangle-wrapper26 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon52 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
  cursor: pointer;
}
.frame-parent475,
.k-m-store16 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent475 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.k-m-store16 {
  height: 4.563rem;
  width: 13rem;
  margin: 0 !important;
  position: absolute;
  top: 40rem;
  left: 29.25rem;
  align-items: flex-end;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.abc-store8,
.b366,
.div786 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b366 {
  width: 3.438rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.abc-store8,
.div786 {
  align-self: stretch;
}
.abc-store8 {
  height: 1.313rem;
  box-sizing: border-box;
  padding-left: var(--padding-5xs);
}
.div786 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.abc-store-parent6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper419 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.k-m-store-inner16,
.parent356 {
  display: flex;
  flex-direction: column;
}
.parent356 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.k-m-store-inner16 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs);
}
.frame-child457 {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.rectangle-wrapper27 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.544rem var(--padding-0) var(--padding-0);
}
.done-btn-icon53 {
  height: 1.125rem;
  width: 1rem;
  position: relative;
  cursor: pointer;
}
.frame-parent476,
.k-m-store17 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent476 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.k-m-store17 {
  height: 4.563rem;
  width: 13rem;
  margin: 0 !important;
  position: absolute;
  top: 40rem;
  left: 51.5rem;
  align-items: flex-end;
  padding: 0.019rem var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.l-v-store1,
.projects-delete-3 {
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-base);
}
.l-v-store1 {
  position: absolute;
  top: 18rem;
  left: 4.125rem;
  width: 64.5rem;
  height: 34.688rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 3.438rem 9.25rem;
  color: var(--color-black);
  font-family: var(--font-roboto-mono);
}
.projects-delete-3 {
  width: 100%;
  height: 56.25rem;
  position: relative;
  background-color: var(--color-ghostwhite-100);
  letter-spacing: normal;
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1125px) {
  .rectangle-parent250 {
    gap: 27.5rem 13.75rem;
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .h127 {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 750px) {
  .rectangle-parent250 {
    gap: 27.5rem 6.875rem;
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent250 {
    gap: 27.5rem 3.438rem;
  }
  .h127 {
    font-size: var(--font-size-3xl);
  }
}
