.container-child1 {
  height: 6.125rem;
  width: 90rem;
  position: relative;
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.notification-icon20 {
  width: 2.125rem;
  height: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.notification-wrapper6 {
  height: 2.313rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.rectangle-copy-730 {
  height: 2.563rem;
  width: 18.563rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  display: none;
}
.placeholder37 {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.side-menu36 {
  width: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-9xs);
  box-sizing: border-box;
}
.search-icon23 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.search-bar {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-5xs);
  gap: var(--gap-5xs);
  z-index: 1;
}
.container-inner6,
.frame-parent454 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent454 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: var(--gap-base);
}
.container-inner6 {
  height: 2.813rem;
  width: 21.625rem;
  flex-direction: column;
  padding: var(--padding-8xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  max-width: 100%;
}
.div732,
.mostafakaramgmailcom20 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.div732 {
  width: 7rem;
  height: 1.125rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mostafakaramgmailcom20 {
  align-self: stretch;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
}
.logo1,
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.title {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-7xs);
}
.logo1 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-0) var(--padding-0);
}
.email-field-child {
  height: 3.125rem;
  width: 3.125rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.container2,
.email-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-field {
  align-self: stretch;
  width: 15.375rem;
  gap: var(--gap-base);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto-mono);
}
.container2 {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  height: 6.125rem;
  padding: var(--padding-5xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-421xl);
  z-index: 99;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
  font-family: var(--font-montserrat);
}
.side-menu-child18 {
  align-self: stretch;
  height: 56.25rem;
  position: relative;
  background: linear-gradient(185.14deg, #033b86, #0d1438);
  display: none;
}
.logo-arabic-219 {
  height: 2.5rem;
  width: 7.281rem;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.logo-arabic-2-wrapper13 {
  align-self: stretch;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl);
  box-sizing: border-box;
}
.div733 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.overview-icon43 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.control-panel11 {
  width: 7.625rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.control-panel-wrapper {
  align-self: stretch;
  flex: 0.9167;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-55xl);
  cursor: pointer;
}
.div734 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.overview-icon44 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent310 {
  width: 5.688rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper369 {
  align-self: stretch;
  flex: 0.9167;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-56xl);
  cursor: pointer;
}
.div735 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.iconlylight-outlinedocument23 {
  height: 2.25rem;
  width: 2.25rem;
  position: relative;
  object-fit: cover;
}
.parent311 {
  width: 6.063rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper370 {
  align-self: stretch;
  flex: 0.9444;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-56xl) var(--padding-lgi);
  cursor: pointer;
  color: var(--white);
}
.div736 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.iconlytwo-tonepaper24 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
}
.parent312 {
  width: 5.438rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper371 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-58xl);
  cursor: pointer;
}
.div737 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.customers-icon23 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper372,
.parent313 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.parent313 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper372 {
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-56xl) var(--padding-base)
    var(--padding-55xl);
  opacity: 0.84;
  cursor: pointer;
}
.div738 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.sales-icon23 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent314 {
  width: 5.875rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper373 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-60xl);
  cursor: pointer;
}
.div739 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.settings-icon22 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent315 {
  width: 6.313rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper374 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-62xl);
  cursor: pointer;
}
.iconly-twotone-paper15 {
  width: 0.25rem;
  height: 4.5rem;
  position: absolute;
  margin: 0 !important;
  top: 9rem;
  right: 0;
  border-radius: var(--br-base) 0 0 var(--br-base);
  background-color: var(--white);
  z-index: 2;
}
.frame-parent455,
.logo-arabic2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent455 {
  align-items: flex-start;
  position: relative;
  z-index: 1;
}
.logo-arabic2 {
  align-items: flex-end;
  gap: var(--gap-45xl);
}
.div740 {
  height: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  text-align: right;
  display: inline-block;
}
.iconlytwo-tonesetting20 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
}
.projects-list2 {
  width: 6.25rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.menu-item40 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-61xl);
  background-color: var(--color-gainsboro-400);
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
}
.div741 {
  height: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  text-align: right;
  display: inline-block;
}
.logout-icon21 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent316 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.menu-item-parent13,
.menu-item41 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-item41 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-57xl) var(--padding-3xs)
    var(--padding-54xl);
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  box-sizing: border-box;
}
.menu-item-parent13 {
  z-index: 1;
}
.h126,
.side-menu37 {
  position: absolute;
  display: flex;
}
.side-menu37 {
  top: 0;
  left: 72.5rem;
  background: linear-gradient(185.14deg, #033b86, #0d1438);
  width: 17.5rem;
  height: 56.25rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-0) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-133xl);
  z-index: 1;
}
.h126 {
  margin: 0;
  top: 7.375rem;
  left: 60.813rem;
  font-size: var(--font-size-17xl);
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-gray-100);
  align-items: center;
  width: 7.688rem;
  height: 2.688rem;
}
.rectangle-copy-731 {
  height: 2.563rem;
  width: 53.563rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.placeholder38 {
  width: 15.713rem;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 1.063rem;
  position: relative;
  color: var(--color-slategray);
  text-align: right;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.input22 {
  position: absolute;
  height: 4.56%;
  width: 59.51%;
  top: 20.11%;
  right: 23.82%;
  bottom: 75.33%;
  left: 16.67%;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) 1.475rem var(--padding-2xs);
  max-width: 100%;
}
.paper-plus-icon45 {
  position: absolute;
  top: 11.813rem;
  left: 13.013rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.iconlytwo-tonedelete8 {
  position: absolute;
  height: 2.06%;
  width: 1.18%;
  top: 21.31%;
  right: 86.32%;
  bottom: 76.63%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.beauty-store7,
.div742,
.sd-store7 {
  position: relative;
  letter-spacing: 0.5px;
}
.beauty-store7 {
  width: 3.563rem;
  display: inline-block;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div742,
.sd-store7 {
  align-self: stretch;
}
.sd-store7 {
  display: inline-block;
  padding-left: var(--padding-lg);
}
.div742 {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-slategray);
}
.x-store7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.x-store-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.beauty-store-parent5,
.slave-store-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.beauty-store-parent5 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.stores-icon {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.slave-store7 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b331,
.div743,
.mw-store8 {
  position: relative;
  letter-spacing: 0.5px;
}
.b331 {
  width: 3.5rem;
  display: inline-block;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div743,
.mw-store8 {
  align-self: stretch;
}
.mw-store8 {
  display: inline-block;
  padding-left: var(--padding-lg);
}
.div743 {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-slategray);
}
.mw-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper375 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent317,
.slave-store-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent317 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-child {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-item {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.slave-store8 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 23.625rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b332,
.div744,
.drive-store7 {
  position: relative;
  letter-spacing: 0.5px;
}
.b332 {
  width: 3.5rem;
  display: inline-block;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div744,
.drive-store7 {
  align-self: stretch;
}
.div744 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  display: inline-block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xs);
}
.drive-store-parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper376 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent318,
.slave-store-inner1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent318 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner1 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child1 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
  cursor: pointer;
}
.slave-store9 {
  height: 4rem;
  width: 12.5rem;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 44.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b333,
.bb-store7,
.div745 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b333 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.bb-store7,
.div745 {
  align-self: stretch;
}
.bb-store7 {
  padding-left: var(--padding-lg);
}
.div745 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.bb-store-parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper377 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent319,
.slave-store-inner2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent319 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner2 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child2 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.slave-store10 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 7.438rem;
  left: 3.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b334,
.div746,
.sm-store7 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b334 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div746,
.sm-store7 {
  align-self: stretch;
}
.sm-store7 {
  padding-left: var(--padding-lg);
}
.div746 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.sm-store-parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper378 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent320,
.slave-store-inner3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent320 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner3 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child3 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.slave-store11 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 7.438rem;
  left: 24.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b335 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.b335,
.div747,
.moon-store8 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.moon-store8 {
  min-width: 6.313rem;
  white-space: nowrap;
}
.div747 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-11xs);
}
.moon-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper379 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent321,
.slave-store-inner4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent321 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner4 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child4 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.slave-store12 {
  height: 4rem;
  width: 11.875rem;
  margin: 0 !important;
  position: absolute;
  top: 7.438rem;
  left: 45.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b336 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.b336,
.blend-store7,
.div748 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.blend-store7 {
  min-width: 6.938rem;
  white-space: nowrap;
}
.div748 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xs);
}
.blend-store-parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper380 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent322,
.slave-store-inner5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent322 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner5 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child5 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.slave-store13 {
  height: 4rem;
  width: 12.5rem;
  margin: 0 !important;
  position: absolute;
  top: 14.875rem;
  left: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b337,
.bd-store7,
.div749 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b337 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.bd-store7,
.div749 {
  align-self: stretch;
}
.bd-store7 {
  padding-left: var(--padding-lg);
}
.div749 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.bd-store-parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper381 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent323,
.slave-store-inner6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent323 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner6 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child6 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.slave-store14 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 14.875rem;
  left: 24.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b338,
.div750,
.speed-app9 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b338 {
  width: 3.438rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div750,
.speed-app9 {
  align-self: stretch;
}
.speed-app9 {
  min-width: 6.188rem;
  box-sizing: border-box;
  padding-left: var(--padding-5xs);
}
.div750 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.speed-app-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper382 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent324,
.slave-store-inner7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent324 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner7 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child7 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
  cursor: pointer;
}
.slave-store15 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 14.875rem;
  left: 45.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b339 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.b339,
.div751,
.slave-store17 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.slave-store17 {
  min-width: 6.938rem;
  white-space: nowrap;
}
.div751 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xs);
}
.slave-store-parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper383 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent325,
.slave-store-inner8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent325 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner8 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child8 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.slave-store16 {
  height: 4rem;
  width: 12.5rem;
  margin: 0 !important;
  position: absolute;
  top: 22.313rem;
  left: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b340,
.div752,
.nr-store7 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b340 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div752,
.nr-store7 {
  align-self: stretch;
}
.nr-store7 {
  padding-left: var(--padding-lg);
}
.div752 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.nr-store-parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper384 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent326,
.slave-store-inner9 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent326 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner9 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child9 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.slave-store18 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 22.313rem;
  left: 24.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.abc-store7,
.b341,
.div753 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b341 {
  width: 3.438rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.abc-store7,
.div753 {
  align-self: stretch;
}
.abc-store7 {
  min-width: 6.188rem;
  box-sizing: border-box;
  padding-left: var(--padding-5xs);
}
.div753 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.abc-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper385 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent327,
.slave-store-inner10 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent327 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner10 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child10 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.slave-store19 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 22.313rem;
  left: 45.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b342 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.b342,
.beauty-store8,
.div754 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.beauty-store8 {
  min-width: 7.563rem;
  white-space: nowrap;
}
.div754 {
  align-self: stretch;
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-3xl);
}
.beauty-store-parent6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper386 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent328,
.slave-store-inner11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent328 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner11 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child11 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.slave-store20 {
  height: 4rem;
  width: 13.125rem;
  margin: 0 !important;
  position: absolute;
  top: 29.75rem;
  left: 1.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b343,
.div755,
.ss-store7 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b343 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div755,
.ss-store7 {
  align-self: stretch;
}
.ss-store7 {
  padding-left: var(--padding-lg);
}
.div755 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.ss-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper387 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent329,
.slave-store-inner12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent329 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner12 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child12 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.slave-store21 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 29.75rem;
  left: 24.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b344,
.div756,
.x-store8 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b344 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.div756,
.x-store8 {
  align-self: stretch;
}
.x-store8 {
  padding-left: var(--padding-9xl);
}
.div756 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  line-height: 1.15rem;
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.x-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper388 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent330,
.slave-store-inner13 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent330 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.slave-store-inner13 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child13 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
  min-height: 4rem;
}
.slave-store22 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 29.75rem;
  left: 45.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b345,
.div757,
.lv-store7 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b345 {
  width: 3.563rem;
  height: 1rem;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.div757,
.lv-store7 {
  align-self: stretch;
}
.lv-store7 {
  height: 1.313rem;
  box-sizing: border-box;
  padding-left: var(--padding-lg);
}
.div757 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.lv-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-wrapper389 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent331,
.slave-store-inner14 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent331 {
  align-self: stretch;
  height: 2.063rem;
  align-items: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.slave-store-inner14 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child14 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.slave-store23 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 37.188rem;
  left: 24.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.b346,
.div758,
.km-store7 {
  position: relative;
  letter-spacing: 0.5px;
  display: inline-block;
}
.b346 {
  width: 3.5rem;
  height: 1rem;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.div758,
.km-store7 {
  align-self: stretch;
}
.km-store7 {
  height: 1.313rem;
  box-sizing: border-box;
  padding-left: var(--padding-lg);
}
.div758 {
  height: 0.938rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-slategray);
  flex-shrink: 0;
}
.km-store-parent5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-wrapper390 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
}
.parent332,
.slave-store-inner15 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent332 {
  align-self: stretch;
  height: 2.063rem;
  align-items: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.slave-store-inner15 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
}
.slave-store-child15 {
  height: 4rem;
  width: 4rem;
  position: relative;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.slave-store24 {
  height: 4rem;
  width: 11.75rem;
  margin: 0 !important;
  position: absolute;
  top: 37.188rem;
  left: 45.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.projects-delete-6,
.speed-app8 {
  text-align: right;
  font-size: var(--font-size-base);
}
.speed-app8 {
  position: absolute;
  top: 16.938rem;
  left: 11.25rem;
  width: 57.25rem;
  height: 35.313rem;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 3.438rem 9.375rem;
  color: var(--color-black);
  font-family: var(--font-roboto-mono);
}
.projects-delete-6 {
  width: 100%;
  height: 56.25rem;
  position: relative;
  background-color: var(--color-ghostwhite-100);
  overflow: hidden;
  letter-spacing: normal;
  color: var(--color-slategray);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1125px) {
  .container2 {
    gap: 27.5rem 13.75rem;
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .h126 {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 750px) {
  .container2 {
    gap: 27.5rem 6.875rem;
  }
}
@media screen and (max-width: 450px) {
  .container2 {
    gap: 27.5rem 3.438rem;
  }
  .h126 {
    font-size: var(--font-size-3xl);
  }
}
