.header-child15 {
  height: 6.125rem;
  width: 90rem;
  position: relative;
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.notification-icon40 {
  width: 2.125rem;
  height: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.notification-wrapper18 {
  height: 2.313rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.rectangle-copy-748 {
  height: 2.563rem;
  width: 18.563rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  display: none;
}
.placeholder64 {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.logo-area {
  width: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-9xs);
  box-sizing: border-box;
}
.search-icon38 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
}
.search-box {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-6xs);
  gap: var(--gap-5xs);
  z-index: 1;
}
.frame-parent593,
.notifier {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent593 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: var(--gap-sm);
}
.notifier {
  height: 2.813rem;
  width: 21.5rem;
  flex-direction: column;
  padding: var(--padding-8xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  max-width: 100%;
}
.div1042,
.mostafakaramgmailcom36 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.div1042 {
  width: 7rem;
  height: 1.125rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mostafakaramgmailcom36 {
  align-self: stretch;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
}
.profile-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.profile-info-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-11xs);
}
.logout-button-child {
  height: 3.125rem;
  width: 3.125rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.logout-button1 {
  align-self: stretch;
  width: 15.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto-mono);
}
.h150,
.header17 {
  display: flex;
  filter: blur(10px);
}
.header17 {
  position: sticky;
  top: 0;
  left: -0.125rem;
  background-color: var(--white);
  width: 100%;
  height: 6.125rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-46xl);
  box-sizing: border-box;
  gap: var(--gap-424xl);
  z-index: 99;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
  font-family: var(--font-montserrat);
}
.h150 {
  margin: 0;
  position: absolute;
  top: 8.125rem;
  left: 60.625rem;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
  align-items: center;
  width: 7.875rem;
  height: 2.688rem;
}
.side-menu-child34 {
  align-self: stretch;
  height: 56.25rem;
  position: relative;
  background: linear-gradient(185.14deg, #033b86, #0d1438);
  display: none;
}
.logo-arabic-19 {
  height: 2.5rem;
  width: 7.281rem;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.setting-icon6 {
  align-self: stretch;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl);
  box-sizing: border-box;
}
.div1043 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.overview-icon75 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.control-container {
  width: 7.625rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.control-container-wrapper {
  align-self: stretch;
  flex: 0.9167;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-55xl);
  cursor: pointer;
}
.div1044 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.overview-icon76 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent571 {
  width: 5.688rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper547 {
  align-self: stretch;
  flex: 0.9167;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-56xl);
}
.div1045 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.iconlylight-outlinedocument39 {
  height: 2.25rem;
  width: 2.25rem;
  position: relative;
  object-fit: cover;
}
.parent572 {
  width: 6.063rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper548 {
  align-self: stretch;
  flex: 0.9714;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-56xl);
}
.div1046 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.iconlytwo-tonepaper40 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
}
.parent573 {
  width: 5.438rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper549 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-58xl);
}
.div1047 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
  min-width: 5rem;
}
.customers-icon39 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper550,
.parent574 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.parent574 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper550 {
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-56xl) var(--padding-base)
    var(--padding-55xl);
  opacity: 0.84;
  cursor: pointer;
}
.div1048 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.sales-icon39 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent575 {
  width: 5.875rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper551 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-60xl);
  cursor: pointer;
}
.div1049 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.settings-icon39 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent576 {
  width: 6.313rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper552 {
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-base) var(--padding-62xl);
  cursor: pointer;
}
.frame-parent594,
.frame-wrapper552,
.setting-icon-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent594 {
  align-items: flex-start;
  z-index: 1;
}
.setting-icon-parent {
  align-items: flex-end;
  gap: var(--gap-45xl);
}
.div1050 {
  height: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-family: var(--font-inter);
  color: var(--white);
  text-align: right;
  display: inline-block;
}
.iconlytwo-tonesetting36 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
}
.parent577 {
  width: 6.25rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.menu-item72 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-61xl);
  background-color: var(--color-gainsboro-400);
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
}
.div1051 {
  height: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  text-align: right;
  display: inline-block;
}
.logout-icon38 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent578 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.menu-item73 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-57xl) var(--padding-3xs)
    var(--padding-54xl);
  background-color: var(--color-gainsboro-400);
  align-self: stretch;
  overflow: hidden;
  box-sizing: border-box;
}
.menu-item-parent21,
.menu-item73,
.side-menu54 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-item-parent21 {
  align-self: stretch;
  z-index: 1;
}
.side-menu54 {
  position: absolute;
  top: 0;
  left: 76.5rem;
  background: linear-gradient(185.14deg, #033b86, #0d1438);
  filter: blur(10px);
  width: 17.5rem;
  height: 56.25rem;
  padding: var(--padding-13xl) var(--padding-0) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-135xl);
  z-index: 100;
  font-size: var(--font-size-base);
  color: var(--color-slategray);
}
.save-button-child3 {
  height: 3.438rem;
  width: 9.375rem;
  position: relative;
  border-radius: var(--br-xl);
  display: none;
}
.div1052 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-mid);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  text-align: left;
  z-index: 1;
}
.cancel-button-child3,
.save-button5 {
  width: 9.375rem;
  border-radius: var(--br-xl);
}
.save-button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-5xl) var(--padding-sm);
  background-color: transparent;
  position: absolute;
  top: 7.75rem;
  left: 16rem;
  background: linear-gradient(115.29deg, #033b86, #0d1438);
  filter: blur(10px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
}
.cancel-button-child3 {
  height: 3.438rem;
  position: relative;
  display: none;
}
.div1053 {
  position: relative;
  font-size: var(--font-size-mid);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-darkslateblue-200);
  text-align: left;
  display: inline-block;
  min-width: 1.875rem;
  z-index: 1;
}
.cancel-button6,
.password-form {
  position: absolute;
  border-radius: var(--br-xl);
}
.cancel-button6 {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue-100);
  padding: var(--padding-sm) var(--padding-40xl) var(--padding-mini);
  background-color: var(--color-ghostwhite-100);
  top: 7.75rem;
  left: 5.625rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cancel-button6:hover {
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-cornflowerblue);
  box-sizing: border-box;
}
.password-form {
  top: 0;
  left: 0;
  background-color: var(--white);
  filter: blur(10px);
  width: 100%;
  height: 100%;
}
.base-security {
  top: 5.813rem;
  left: 1.063rem;
  border-radius: var(--br-12xs);
  background-color: var(--color-gainsboro-300);
  width: 45rem;
  height: 0.125rem;
}
.base-security,
.base-security1,
.h151,
.lorem-ipsum-dolor43 {
  position: absolute;
  filter: blur(10px);
  z-index: 1;
}
.base-security1 {
  top: 1.781rem;
  left: 48.188rem;
  border-radius: var(--br-12xs);
  background-color: var(--color-gainsboro-300);
  width: 37.75rem;
  height: 0.125rem;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.h151,
.lorem-ipsum-dolor43 {
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
}
.h151 {
  margin: 0;
  top: 1.5rem;
  left: 39.25rem;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: inherit;
  width: 6.813rem;
  height: 2rem;
}
.lorem-ipsum-dolor43 {
  top: 4.813rem;
  left: 46.063rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-slategray);
  text-align: left;
  width: 13.375rem;
  height: 0.813rem;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.div1054,
.info-circle-icon9 {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.div1054 {
  height: 1.125rem;
  width: 7.625rem;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  font-weight: 500;
  font-family: var(--font-roboto-mono);
  color: var(--color-gray-100);
  text-align: right;
  align-items: center;
  filter: blur(10px);
}
.info-circle-icon9 {
  height: 2.125rem;
  width: 2.125rem;
  overflow: hidden;
  min-height: 2.125rem;
}
.cancel-btn-child {
  height: 3.75rem;
  width: 12.875rem;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  display: none;
}
.div1055 {
  align-self: stretch;
  height: 1.125rem;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  font-weight: 500;
  font-family: var(--font-roboto-mono);
  color: var(--color-gray-100);
  text-align: right;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.save-btn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-0) var(--padding-0);
}
.info-circle-icon10 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.cancel-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-lg);
  background-color: var(--white);
  width: 12.875rem;
  height: 3.75rem;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-sm);
}
.div1056 {
  align-self: stretch;
  height: 1.125rem;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  font-weight: 500;
  font-family: var(--font-roboto-mono);
  color: var(--color-gray-100);
  text-align: right;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 2;
}
.wrapper139 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-0) var(--padding-0);
}
.security-base15 {
  height: 100%;
  width: calc(100% - 8px);
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightskyblue-200);
  z-index: 1;
}
.shield-done-icon5 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent596 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-7xl) var(--padding-smi)
    var(--padding-66xl);
  background-color: transparent;
  align-self: stretch;
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-sm);
}
.security-base16 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightskyblue-300);
}
.div1057 {
  align-self: stretch;
  height: 1.125rem;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  font-weight: 500;
  font-family: var(--font-roboto-mono);
  color: var(--color-gray-100);
  text-align: right;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.wrapper140 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-0) var(--padding-0);
}
.notification-icon41 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frame-wrapper553,
.security-base-parent3 {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.security-base-parent3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-lg) var(--padding-smi)
    var(--padding-52xl);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  position: relative;
  gap: var(--gap-sm);
}
.frame-wrapper553 {
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-5xs);
}
.div1058,
.frame-parent595,
.frame-wrapper553 {
  align-self: stretch;
  display: flex;
}
.frame-parent595 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.div1058 {
  height: 1.125rem;
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
  align-items: center;
  flex-shrink: 0;
  z-index: 2;
}
.wrapper141 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-0) var(--padding-0);
}
.security-base17 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightskyblue-300);
  z-index: 1;
}
.user-icon5 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.cancel-btn1,
.settings-menu12 {
  width: 12.875rem;
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-lg) var(--padding-smi)
    var(--padding-62xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-sm);
}
.settings-menu12 {
  position: absolute;
  top: 2.125rem;
  left: 49.25rem;
  filter: blur(10px);
  width: 13.375rem;
  height: 25.938rem;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-73xl);
  gap: var(--gap-13xl);
  z-index: 2;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto-mono);
}
.b566 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
}
.change-password-label {
  width: 7.375rem;
  height: 0.063rem;
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-slategray);
}
.parent579 {
  width: 8.813rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-5xs)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.b567,
.lorem-ipsum-dolor44 {
  position: relative;
  letter-spacing: -0.02em;
}
.b567 {
  width: 10.75rem;
  height: 1.125rem;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-gray-100);
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
}
.lorem-ipsum-dolor44 {
  align-self: stretch;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-poppins);
}
.frame-parent597 {
  position: absolute;
  top: 24.75rem;
  left: 33.563rem;
  filter: blur(10px);
  width: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
  z-index: 1;
  color: var(--color-slategray);
  font-family: var(--font-roboto-mono);
}
.info-message {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-lightskyblue-100);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.25) inset;
}
.toggle-child49 {
  height: 2.25rem;
  width: 2.25rem;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(139.11deg, #fff, #ebebeb);
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
  border: 0 solid var(--color-gainsboro-200);
  box-sizing: border-box;
  z-index: 1;
}
.toggle30 {
  position: absolute;
  top: 10rem;
  left: 4.125rem;
  filter: blur(10px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-17xl) var(--padding-0)
    var(--padding-0);
  z-index: 1;
}
.toggle-child50 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-lightskyblue-100);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.25) inset;
}
.toggle-child51 {
  height: 2.25rem;
  width: 2.25rem;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(139.11deg, #fff, #ebebeb);
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
  border: 0 solid var(--color-gainsboro-200);
  box-sizing: border-box;
  z-index: 1;
}
.toggle31 {
  position: absolute;
  top: 14.75rem;
  left: 4.125rem;
  filter: blur(10px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-17xl) var(--padding-0)
    var(--padding-0);
  z-index: 1;
}
.toggle-child52 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-lightskyblue-100);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.25) inset;
}
.toggle-child53 {
  height: 2.25rem;
  width: 2.25rem;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(139.11deg, #fff, #ebebeb);
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
  border: 0 solid var(--color-gainsboro-200);
  box-sizing: border-box;
  z-index: 1;
}
.toggle32 {
  position: absolute;
  top: 19.5rem;
  left: 4.125rem;
  filter: blur(10px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-17xl) var(--padding-0)
    var(--padding-0);
  z-index: 1;
}
.cancel-button-child4 {
  height: 2.5rem;
  width: 9.375rem;
  position: relative;
  border-radius: var(--br-xl);
  display: none;
}
.div1059 {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.cancel-button7 {
  position: absolute;
  top: 27.813rem;
  left: 4.125rem;
  border-radius: var(--br-xl);
  background: linear-gradient(
    109.31deg,
    rgba(170, 204, 249, 0.8),
    rgba(255, 255, 255, 0)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 9.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-2xl);
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  text-align: left;
}
.frame-child546 {
  position: absolute;
  top: 1.5rem;
  left: 10.938rem;
  border-radius: var(--br-12xs);
  background-color: var(--color-slategray);
  width: 7.375rem;
  height: 0.063rem;
}
.b568 {
  position: absolute;
  top: 0;
  left: 10.75rem;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  width: 7.563rem;
  height: 1.125rem;
}
.b569,
.b570 {
  color: var(--color-gray-100);
}
.b569 {
  position: absolute;
  top: 3.063rem;
  left: 0;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  width: 18.313rem;
  height: 1.125rem;
}
.b570 {
  top: 7.813rem;
}
.b570,
.b571,
.lorem-ipsum-dolor45,
.lorem-ipsum-dolor46,
.lorem-ipsum-dolor47 {
  position: absolute;
  left: 5.813rem;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  width: 12.5rem;
  height: 1.125rem;
}
.b571 {
  top: 12.563rem;
  color: var(--color-gray-100);
}
.lorem-ipsum-dolor45,
.lorem-ipsum-dolor46,
.lorem-ipsum-dolor47 {
  top: 5.188rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-poppins);
}
.lorem-ipsum-dolor46,
.lorem-ipsum-dolor47 {
  top: 9.938rem;
}
.lorem-ipsum-dolor47 {
  top: 14.688rem;
}
.rectangle-parent269 {
  width: 18.313rem;
  height: 15.813rem;
  position: relative;
  filter: blur(10px);
  display: none;
}
.close-square-icon-child {
  width: 50rem;
  height: 25rem;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-ghostwhite-100);
  display: none;
  max-width: 100%;
}
.close-square-icon11 {
  width: 2.125rem;
  height: 2.125rem;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.close-square-icon11,
.done-btn-icon84,
.h152 {
  position: relative;
  z-index: 1;
}
.done-btn-icon84 {
  height: 3rem;
  width: 3rem;
  left: 2rem;
}
.h152 {
  margin: 0;
  height: 2.688rem;
  flex: 1;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  min-width: 21.25rem;
  max-width: 100%;
  left: 30px;
}
.close-square-parent,
.done-btn-container,
.frame-wrapper554 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.done-btn-container {
  width: 36.688rem;
  flex-wrap: wrap;
  gap: var(--gap-base);
}
.close-square-parent,
.frame-wrapper554 {
  align-self: stretch;
}
.close-square-parent {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-45xl);
  font-size: var(--font-size-45xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.registration-button-child19 {
  height: 3.75rem;
  width: 11.938rem;
  position: relative;
  border-radius: var(--br-xl);
  display: none;
}
.div1060 {
  position: relative;
  font-size: var(--font-size-mid);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  min-width: 2.125rem;
  z-index: 1;
}
.registration-button21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-59xl) var(--padding-xl);
  background-color: transparent;
  border-radius: var(--br-xl);
  background: linear-gradient(115.29deg, #033b86, #0d1438);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.close-square-icon10,
.registration-button-wrapper2 {
  width: 36.688rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.close-square-icon10 {
  position: absolute;
  top: -5.125rem;
  left: 12.313rem;
  border-radius: var(--br-21xl);
  background-color: var(--color-ghostwhite-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 50rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-13xl) var(--padding-62xl) var(--padding-87xl);
  box-sizing: border-box;
  gap: var(--gap-62xl);
  z-index: 3;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-slategray);
  font-family: var(--font-roboto-mono);
}
.base-user,
.settings-change-password2 {
  text-align: right;
  color: var(--color-gray-100);
}
.base-user {
  position: absolute;
  top: 12.813rem;
  left: 3.938rem;
  width: 64.563rem;
  height: 41.875rem;
  max-width: 100%;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
}
.settings-change-password2 {
  width: 100%;
  height: 56.25rem;
  position: relative;
  background-color: var(--color-ghostwhite-100);
  overflow: hidden;
  letter-spacing: normal;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .header17 {
    gap: 27.688rem 13.813rem;
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .h150 {
    font-size: var(--font-size-10xl);
  }
  .h151 {
    font-size: var(--font-size-7xl);
  }
  .h152 {
    font-size: var(--font-size-32xl);
  }
}
@media screen and (max-width: 750px) {
  .header17 {
    gap: 27.688rem 6.938rem;
  }
  .h152 {
    min-width: 100%;
  }
  .base-user {
    height: auto;
    min-height: 670;
  }
  .settings-change-password2 {
    height: auto;
    min-height: 900;
  }
}
@media screen and (max-width: 450px) {
  .header17 {
    gap: 27.688rem 3.438rem;
  }
  .h150 {
    font-size: var(--font-size-3xl);
  }
  .h151 {
    font-size: var(--font-size-lgi);
  }
  .b567,
  .b569,
  .b570,
  .b571,
  .div1054,
  .div1055,
  .div1056,
  .div1057,
  .div1058 {
    font-size: var(--font-size-base);
  }
  .h152 {
    font-size: var(--font-size-19xl);
  }
}
