.header-child1 {
  height: 6.125rem;
  width: 90rem;
  position: relative;
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.notification-icon22 {
  width: 2.125rem;
  height: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.notification-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-0) var(--padding-0);
}
.rectangle-copy-734 {
  height: 2.563rem;
  width: 18.563rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  display: none;
}
.placeholder41 {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.placeholder-wrapper13 {
  width: 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) var(--padding-9xs);
  box-sizing: border-box;
}
.search-icon25 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.rectangle-copy-7-parent7 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-5xs);
  gap: var(--gap-5xs);
  z-index: 1;
}
.frame-parent484,
.header-inner1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent484 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.header-inner1 {
  width: 21.625rem;
  flex-direction: column;
  padding: var(--padding-8xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  max-width: 100%;
}
.div824,
.mostafakaramgmailcom22 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.div824 {
  width: 7rem;
  height: 1.125rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mostafakaramgmailcom22 {
  align-self: stretch;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
}
.frame-wrapper422,
.parent361 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent361 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-7xs);
}
.frame-wrapper422 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-0) var(--padding-0);
}
.frame-child462 {
  height: 3.125rem;
  width: 3.125rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.frame-parent485,
.header3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent485 {
  width: 15.438rem;
  gap: var(--gap-base);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto-mono);
}
.header3 {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  padding: var(--padding-5xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-420xl);
  z-index: 99;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-slategray);
  font-family: var(--font-montserrat);
}
.side-menu-child20 {
  align-self: stretch;
  height: 56.25rem;
  position: relative;
  background: linear-gradient(185.14deg, #033b86, #0d1438);
  display: none;
}
.logo-arabic-221 {
  height: 2.5rem;
  width: 7.281rem;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.logo-arabic-2-wrapper15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-xl);
}
.div825 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.overview-icon47 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent362 {
  width: 7.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper423 {
  align-self: stretch;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-55xl);
  cursor: pointer;
}
.div826 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.overview-icon48 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent363 {
  width: 5.688rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper424 {
  align-self: stretch;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-56xl);
}
.div827 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.iconlylight-outlinedocument25 {
  height: 2.25rem;
  width: 2.25rem;
  position: relative;
  object-fit: cover;
}
.parent364 {
  width: 6.063rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper425 {
  align-self: stretch;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-56xl);
  cursor: pointer;
}
.div828 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.iconlytwo-tonepaper26 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
}
.parent365 {
  width: 5.438rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper426 {
  align-self: stretch;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-58xl);
  cursor: pointer;
}
.div829 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
  min-width: 5rem;
}
.customers-icon25 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper427,
.parent366 {
  align-self: stretch;
  display: flex;
}
.parent366 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper427 {
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-56xl) var(--padding-4xl)
    var(--padding-55xl);
  opacity: 0.84;
  color: var(--white);
}
.div830 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.sales-icon25 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent367 {
  width: 5.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper428 {
  align-self: stretch;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-60xl);
  cursor: pointer;
}
.div831 {
  height: 0;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
}
.settings-icon24 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent368 {
  width: 6.313rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.frame-wrapper429 {
  align-self: stretch;
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-62xl);
  cursor: pointer;
}
.frame-child463 {
  width: 0.25rem;
  height: 4.5rem;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 8.313rem;
  border-radius: var(--br-base) 0 0 var(--br-base);
  background-color: var(--white);
  z-index: 2;
}
.frame-parent486,
.frame-parent487 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent487 {
  align-items: flex-start;
  position: relative;
  z-index: 1;
}
.frame-parent486 {
  align-items: flex-end;
  gap: var(--gap-45xl);
}
.div832 {
  height: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  text-align: right;
  display: inline-block;
}
.iconlytwo-tonesetting22 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
}
.parent369 {
  width: 6.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.menu-item44 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-61xl);
  background-color: var(--color-gainsboro-400);
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.div833 {
  height: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  font-family: var(--font-inter);
  color: var(--color-slategray);
  text-align: right;
  display: inline-block;
}
.logout-icon23 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.parent370 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
}
.menu-item45,
.setting-menu-item1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-item45 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-57xl) var(--padding-3xs)
    var(--padding-54xl);
  background-color: var(--color-gainsboro-400);
  overflow: hidden;
}
.setting-menu-item1 {
  z-index: 1;
}
.h130,
.side-menu39 {
  position: absolute;
  font-family: var(--font-inter);
  display: flex;
}
.side-menu39 {
  top: 0;
  left: 77.5rem;
  background: linear-gradient(185.14deg, #033b86, #0d1438);
  width: 17.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-0) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-136xl);
  z-index: 100;
  color: var(--color-slategray);
}
.h130 {
  margin: 0;
  top: 7.375rem;
  left: 56rem;
  font-size: var(--font-size-17xl);
  letter-spacing: -0.02em;
  font-weight: 700;
  color: var(--color-gray-100);
  align-items: center;
  width: 12.5rem;
  height: 2.688rem;
}
.rectangle-copy-814 {
  height: 2.563rem;
  width: 53.563rem;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.placeholder42 {
  width: 15.713rem;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 1.063rem;
  position: relative;
  color: var(--color-slategray);
  text-align: right;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.empty-slot {
  position: absolute;
  top: 11.313rem;
  left: 15rem;
  border-radius: var(--br-11xs);
  background-color: var(--white);
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  width: 53.563rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-xs) 1.475rem var(--padding-2xs);
  max-width: 100%;
}
.paper-plus-icon47 {
  position: absolute;
  top: 11.813rem;
  left: 13rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.team-members-child,
.team-members-inner,
.team-members-item {
  position: absolute;
  top: 17.375rem;
  left: 17.625rem;
  width: 6.875rem;
  height: 7.175rem;
  object-fit: cover;
}
.team-members-inner,
.team-members-item {
  left: 39.625rem;
}
.team-members-inner {
  top: 17.519rem;
  left: 61.625rem;
}
.team-members-child1,
.team-members-child2,
.team-members-child3,
.team-members-child4 {
  position: absolute;
  top: 26.706rem;
  left: 17.625rem;
  width: 6.875rem;
  height: 7.175rem;
  object-fit: cover;
}
.team-members-child2,
.team-members-child3,
.team-members-child4 {
  left: 39.625rem;
}
.team-members-child3,
.team-members-child4 {
  top: 26.85rem;
  left: 61.625rem;
}
.team-members-child4 {
  top: 36.038rem;
  left: 39.625rem;
}
.team-members-child5 {
  top: 36.181rem;
  left: 61.625rem;
}
.team-members-child5,
.team-members-child6,
.team-members-child7 {
  position: absolute;
  width: 6.875rem;
  height: 7.175rem;
  object-fit: cover;
}
.team-members-child6 {
  top: 45.369rem;
  left: 39.625rem;
  cursor: pointer;
}
.team-members-child7 {
  top: 45.513rem;
  left: 61.625rem;
}
.b367,
.b368,
.b369,
.b370,
.b371,
.b372,
.b373,
.b374,
.b375,
.b376 {
  position: absolute;
  top: 18.875rem;
  left: 59.75rem;
  letter-spacing: 0.5px;
  display: inline-block;
  width: 0.688rem;
  height: 1.563rem;
  min-width: 0.688rem;
}
.b368,
.b369,
.b370,
.b371,
.b372,
.b373,
.b374,
.b375,
.b376 {
  top: 18.75rem;
  left: 37.75rem;
  height: 1.5rem;
}
.b369,
.b370,
.b371,
.b372,
.b373,
.b374,
.b375,
.b376 {
  left: 15.75rem;
}
.b370,
.b371,
.b372,
.b373,
.b374,
.b375,
.b376 {
  top: 28.188rem;
  left: 59.75rem;
}
.b371,
.b372,
.b373,
.b374,
.b375,
.b376 {
  top: 28.063rem;
  left: 37.75rem;
}
.b372,
.b373,
.b374,
.b375,
.b376 {
  left: 15.125rem;
  width: 1.313rem;
  min-width: 1.313rem;
}
.b373,
.b374,
.b375,
.b376 {
  top: 37.563rem;
  left: 59.75rem;
  width: 0.688rem;
  height: 1.438rem;
  min-width: 0.688rem;
}
.b374,
.b375,
.b376 {
  top: 37.375rem;
  left: 37.75rem;
  height: 1.5rem;
}
.b375,
.b376 {
  top: 46.875rem;
  left: 59.75rem;
  height: 1.563rem;
}
.b376 {
  top: 46.75rem;
  left: 37.75rem;
}
.b377,
.b378,
.b379,
.b380,
.b381,
.b382,
.b383,
.b384,
.b385,
.b386 {
  position: absolute;
  top: 20.625rem;
  left: 53.938rem;
  letter-spacing: 0.5px;
  display: inline-block;
  width: 6.375rem;
  height: 1rem;
}
.b378,
.b379,
.b380,
.b381,
.b382,
.b383,
.b384,
.b385,
.b386 {
  top: 20.5rem;
  left: 31.938rem;
}
.b379,
.b380,
.b381,
.b382,
.b383,
.b384,
.b385,
.b386 {
  left: 9rem;
  width: 7.313rem;
}
.b380,
.b381,
.b382,
.b383,
.b384,
.b385,
.b386 {
  top: 29.938rem;
  left: 53.938rem;
  width: 6.375rem;
  height: 1.125rem;
}
.b381,
.b382,
.b383,
.b384,
.b385,
.b386 {
  top: 29.75rem;
  left: 31.938rem;
}
.b382,
.b383,
.b384,
.b385,
.b386 {
  left: 9rem;
  width: 7.313rem;
}
.b383,
.b384,
.b385,
.b386 {
  top: 39.25rem;
  left: 53.938rem;
  width: 6.375rem;
}
.b384,
.b385,
.b386 {
  top: 39.063rem;
  left: 30.563rem;
  width: 7.75rem;
  height: 1.188rem;
}
.b385,
.b386 {
  top: 48.625rem;
  left: 53.938rem;
  width: 6.375rem;
  height: 1rem;
}
.b386 {
  top: 48.5rem;
  left: 31.938rem;
}
.abcgmailcom,
.abcgmailcom1,
.abcgmailcom2,
.abcgmailcom3,
.abcgmailcom4,
.abcgmailcom5,
.abcgmailcom6,
.abcgmailcom7,
.abcgmailcom8,
.abcgmailcom9 {
  position: absolute;
  top: 22.25rem;
  left: 49.75rem;
  font-size: var(--font-size-sm);
  letter-spacing: 0.5px;
  font-weight: 500;
  color: var(--color-slategray);
  display: inline-block;
  width: 10.563rem;
  height: 1.063rem;
}
.abcgmailcom1,
.abcgmailcom2,
.abcgmailcom3,
.abcgmailcom4,
.abcgmailcom5,
.abcgmailcom6,
.abcgmailcom7,
.abcgmailcom8,
.abcgmailcom9 {
  top: 22.125rem;
  left: 27.75rem;
}
.abcgmailcom2,
.abcgmailcom3,
.abcgmailcom4,
.abcgmailcom5,
.abcgmailcom6,
.abcgmailcom7,
.abcgmailcom8,
.abcgmailcom9 {
  left: 5.75rem;
}
.abcgmailcom3,
.abcgmailcom4,
.abcgmailcom5,
.abcgmailcom6,
.abcgmailcom7,
.abcgmailcom8,
.abcgmailcom9 {
  top: 31.563rem;
  left: 49.75rem;
  height: 1.125rem;
}
.abcgmailcom4,
.abcgmailcom5,
.abcgmailcom6,
.abcgmailcom7,
.abcgmailcom8,
.abcgmailcom9 {
  top: 31.438rem;
  left: 27.75rem;
  height: 1.063rem;
}
.abcgmailcom5,
.abcgmailcom6,
.abcgmailcom7,
.abcgmailcom8,
.abcgmailcom9 {
  left: 5.75rem;
}
.abcgmailcom6,
.abcgmailcom7,
.abcgmailcom8,
.abcgmailcom9 {
  top: 40.938rem;
  left: 49.75rem;
}
.abcgmailcom7,
.abcgmailcom8,
.abcgmailcom9 {
  top: 40.75rem;
  left: 27.75rem;
  height: 1.125rem;
}
.abcgmailcom8,
.abcgmailcom9 {
  top: 50.25rem;
  left: 49.75rem;
  height: 1.063rem;
}
.abcgmailcom9 {
  top: 50.125rem;
  left: 27.75rem;
}
.delete-icon310 {
  position: absolute;
  top: 11.813rem;
  left: 11rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}
.team-members1 {
  width: 100%;
  height: 56.25rem;
  position: relative;
  background-color: var(--color-ghostwhite-100);
  overflow: hidden;
  letter-spacing: normal;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto-mono);
}
@media screen and (max-width: 1125px) {
  .header3 {
    gap: 27.438rem 13.688rem;
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .h130 {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 750px) {
  .header3 {
    gap: 27.438rem 6.875rem;
  }
}
@media screen and (max-width: 450px) {
  .header3 {
    gap: 27.438rem 3.438rem;
  }
  .h130 {
    font-size: var(--font-size-3xl);
  }
}
#formcontrol{
  
    position: absolute;
    top: 11.313rem;
    left: 15rem;
    background-color: var(--white);

    box-sizing: border-box;
    width: 53.563rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: var(--padding-xs) 1.475rem var(--padding-2xs);
    max-width: 100%;
  }
